<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="0; url=http://example.com"> -->


    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Home | Hayat</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- css -->
    <link rel="stylesheet" href="../static/styles/main.css">

</head>

<body>
    <!-- header -->
    <header id="header">
        <a href="/" class="logo">Hayat.</a>
        <nav class="menu">
            <a href="#home" class="menu_item active">Home</a>
            <a href="#donate" class="menu_item">Donate</a>
            <a href="#stations" class="menu_item">Stations</a>
            <a href="#contact" class="menu_item">Contact</a>
        </nav>
        <button class="login_btn" type="button">Login</button>
        <div class="toggle_btn">
            &backcong;
        </div>
    </header>

    <!-- hero -->
    <section class="hero" id="home">
        <div class="hero_content">
            <div class="hero_title">
                <h1 class="title">HAYAT<span>.</span></h1>
                <h3 class="subtitle">donate blood. save lives</h3>
            </div>
            <form class="donation_form" action="">
                <legend>Submit a Donation Request &Downarrow;</legend>
                <input class="full_name" type="text" name="full_name" id="fullName" placeholder="Enter your Name">
                <input class="email" type="email" name="email" id="email" placeholder="Enter your Email">
                <input class="phone_number" type="tel" name="phone_number" id="phoneNumber"
                    placeholder="Enter your Phone Number">
                <select class="blood_type" name="" id="bloodType" aria-placeholder="Select your Blood Type">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O">O</option>
                </select>

                <button class="submit_form" type="submit">Submit Request</button>
            </form>
        </div>
        <div class="hero_image">
            <img src="../static/images/people.jpg" alt="">
            <img src="../static/images/technotes.jpg" alt="">
            <img src="../static/images/meeting.jpg" alt="">
        </div>
    </section>

    <!-- section-one -->
    <section class="why_donate" id="donate">
        <h2 class="title">Why Donate Blood?</h2>
        <p class="text">
            Blood donation is a noble cause that helps <span>save lives</span>. Your contribution can make a significant impact on
            those in need.
        </p>
    </section>

    <!-- section-two -->
    <section id="stations">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sint? Tempore distinctio maiores veritatis
            in, necessitatibus earum ipsum odio praesentium aut suscipit mollitia nulla consequuntur rem. Veritatis
            rerum eos deserunt.
        </p>
    </section>

    <!-- contact-->
    <section id="contact">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sint? Tempore distinctio maiores veritatis
            in, necessitatibus earum ipsum odio praesentium aut suscipit mollitia nulla consequuntur rem. Veritatis
            rerum eos deserunt.
        </p>
    </section>

    <!-- footer -->
    <footer id="">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, sint? Tempore distinctio maiores veritatis
            in, necessitatibus earum ipsum odio praesentium aut suscipit mollitia nulla consequuntur rem. Veritatis
            rerum eos deserunt.
        </p>
    </footer>

    <!-- script -->
    <script src="../static/scripts/main.js"></script>
</body>

</html>