{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="../static/styles/landing.css">
{% endblock style %}

{% block main %}
<main>
	<section class="landing_hero">
		<div class="hero_title">
			<h1 class="title">Hayat<span>.</span></h1>
			<h3 class="subtitle">donate blood. save lives.</h3>
		</div>
		<div class="hero_content">
			<p class="text">
			Hayat revolutionizes the blood donation experience by harnessing the power of technology.
			<br>
			Discover real-time updates and streamline operations for transfusion centers.
			<br>
			Join us in making a life-saving impact, one donation at a time.
			</p>

			<hr>

			<h4 class="cta_text">Register Today to make a difference :</h4>
			<div class="cta">
				<a href="{{ url_for('register') }}"><button type="button" class="button">Register as a</br>Donor / Transfusion Center <i
					 class="bi bi-box-arrow-in-up-right"></i></button></a>
			</div>

			<h4 class="cta_text">Looking for a Transfusion Center ?</h4>
			<div class="cta">
				<a href="{{ url_for('home') }}"><button type="button" class="button">Find your Nearby</br>Transfusion Center <i
					 class="bi bi-box-arrow-in-up-right"></i></button></a>
			</div>

		</div>
	</section>

	<section class="features_section">

		<h2 class="section_title">Our Key Features</h2>
		<div class="feature_wrapper">
			<div class="feature">
				<img class="feature_image" src="../static/images/nairobi_center.png" alt="Feature 1 Icon">
				<h3 class="feature_title">Real-Time Donor Updates</h3>
				<p class="feature_desc">Stay informed with regularly updated statistics about your nearby transfusion center's blood availability and urgent needs.</p>
			</div>
			<div class="feature">
				<img class="feature_image" src="../static/images/blood_bags.png" alt="Feature 2 Icon">
				<h3 class="feature_title">Efficient Transfusion Center Management</h3>
				<p class="feature_desc">Optimize operations with streamlined processes and efficient inventory management with an intuitive control panel.</p>
			</div>
			<div class="feature">
				<img class="feature_image"
						 src="https://images.pexels.com/photos/6146692/pexels-photo-6146692.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						 alt="Feature 3 Icon">
				<h3 class="feature_title">Community Engagement</h3>
				<p class="feature_desc">Build a strong network of donors and recipients, fostering a sense of community and support.</p>
			</div>
		</div>
	</section>


	<section class="landing_about_section">
		<div class="landing_about_content">
			<div class="about_description">
				<h2 class="about_section_title">About HAYAT.</h2>
				<p class="text">At HAYAT, our journey began with a shared passion for leveraging technology to make a
				tangible difference in people's lives. Inspired by personal experiences witnessing the critical need for
				efficient blood donation processes, our team embarked on a mission to revolutionize the way
				blood donations are managed.</p>
				<p class="text">Each member of our team brings a unique perspective and skill set to the table, united
				by the common goal of creating a platform that empowers donors and saves lives. What started as a
				spark of inspiration evolved into a collaborative effort fueled by dedication and innovation.</p>
				<p class="text">This project is not just an assignment; it's a reflection of our commitment to making a
				meaningful impact. Developed as a Portfolio Project for <em>ALX Africa SE Program</em>, HAYAT
				embodies our
				dedication to excellence in both technology and social responsibility.</p>
			</div>
			<div class="team_profiles">
				<h3 class="team_profile_title">Our Team</h3>
				<div class="team_members">
					<ul class="team_member">
						<p class="team_member_name">Youssef Charif <span>&mdash; Backend Developer</span></p>
						<li><a target="_blank" href="https://www.linkedin.com/in/youssef-charif-hamidi"><i
																	 class="bi bi-linkedin"></i> LinkedIn &mdash; <span>youssef-charif-hamidi</span></a>
						</li>
						<li><a target="_blank" href="https://github.com/Chareeef"><i class="bi bi-github"></i> GitHub
								&mdash; <span>@Chareeef</span></a></li>
						<li><a target="_blank" href="https://x.com/YoussefCharifH2"><i
																	 class="bi bi-twitter-x"></i> Twitter &mdash; <span>@YoussefCharifH2</span></a></li>
					</ul>

					<ul class="team_member">
						<p class="team_member_name">Kenansa Meseret <span>&mdash; Backend Developer</span></p>
						<li><a target="_blank" href="https://www.linkedin.com/in/kenc0de"><i class="bi bi-linkedin"></i>
								LinkedIn &mdash; <span>@kenc0de</span></a></li>
						<li><a target="_blank" href="https://github.com/KENC0DE"><i class="bi bi-github"></i> GitHub
								&mdash; <span>@KENC0DE</span></a></li>
						<li><a target="_blank" href="https://twitter.com/KENC0DE"><i class="bi bi-twitter-x"></i>
								Twitter &mdash; <span>@KENC0DE</span></a></li>
					</ul>
					<ul class="team_member">
						<p class="team_member_name">Blain Muema <span>&mdash; Frontend Developer</span></p>
						<li><a target="_blank" href="https://www.linkedin.com/in/blain-muema"><i
																	 class="bi bi-linkedin"></i> LinkedIn &mdash; <span>blain-muema</span></a></li>
						<li><a target="_blank" href="https://github.com/octocatblain"><i class="bi bi-github"></i>
								GitHub &mdash; <span>@octocatblain</span></a></li>
						<li><a target="_blank" href="https://twitter.com/birdblain"><i class="bi bi-twitter-x"></i>
								Twitter &mdash; <span>@birdblain</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<hr>
		<div class="github_repo">
			<p class="text">Explore our project repository on GitHub:</p>
			<a class="github_link" href="https://github.com/Chareeef/HAYAT">HAYAT GitHub Repository <i
														 class="bi bi-arrow-up-right-circle"></i></a>
		</div>
	</section>
</main>
{% endblock main %}
