{% extends 'layout.html' %}
{% block main %}
		<div class="login">
			<div class="login_content">
				<div class="login_title">
					<h1 class="main_login_title">HAYAT<span>.</span></h1>
					<h3 class="main_login_subtitle">donate blood. save lives</h3>
				</div>
				<!-- Render flashed messages -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor  %}
				{% endif %}
				{% endwith %}

				<!-- Login forms -->
				<!-- Login as Donor -->
				<h1 class="login_page_title">Login as Donor</h1>
				<form class="login_form" method="POST">
					{{ donor_form.hidden_tag() }} <!-- Include CSRF token -->
					<div>
						<div class="group">
							{{ donor_form.username.label }}
							{{ donor_form.username(size=20) }}
							{% for error in donor_form.username.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ donor_form.password.label }}
							{{ donor_form.password(size=20) }}
							{% for error in donor_form.password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<button class="submit" type="submit">Login as Donor<i class="bi bi-arrow-right-circle"></i></button>
				</form>

				<!-- Login as Transfusion Center -->
				<h1 class="login_page_title">Login as Transfusion Center</h1>
				<form class="login_form" method="POST">
					{{ tc_form.hidden_tag() }} <!-- Include CSRF token -->
					<div>
						<div class="group">
							{{ tc_form.email.label }}
							{{ tc_form.email(size=20) }}
							{% for error in tc_form.email.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ tc_form.password.label }}
							{{ tc_form.password(size=20) }}
							{% for error in tc_form.password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<button class="submit" type="submit">Login as Transfusion Center<i class="bi bi-arrow-right-circle"></i></button>
				</form>

			</div>
		</div>
{% endblock main %}
