{% extends 'layout.html' %}
{% block style %}
		<link rel="stylesheet" href="../static/styles/register.css">		
{% endblock style %}

{% block main %}
<main>
		<div class="register">
			<div class="register_content">
				<div class="register_title">
					<h1 class="main_register_title">HAYAT<span>.</span></h1>
					<h3 class="main_register_subtitle">Donate blood, Save lives.</h3>
				</div>

				<!-- Render flashed messages -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor  %}
				{% endif %}
				{% endwith %}


        <!-- Radio buttons to toggle between forms -->
        <div class="form-toggle">
            <input type="radio" id="donor-form" name="register-form" value="donor" checked>
            <label for="donor-form">Register as Donor</label>
            <input type="radio" id="tc-form" name="register-form" value="tc">
            <label for="tc-form">Register as Transfusion Center</label>
        </div>

				<!-- Registration forms -->
				<!-- Register as Donor -->
        <form class="register_form" id="donor-register-form" method="POST">
					{{ donor_form.hidden_tag() }} <!-- Include CSRF token -->
					<div>
						<div class="group">
							{{ donor_form.username.label }}
							{{ donor_form.username(size=20) }}
							{% for error in donor_form.username.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ donor_form.email.label }}
							{{ donor_form.email(size=20) }}
							{% for error in donor_form.email.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div>
						<div class="group">
							{{ donor_form.password.label }}
							{{ donor_form.password(size=20) }}
							{% for error in donor_form.password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ donor_form.confirm_password.label }}
							{{ donor_form.confirm_password(size=20) }}
							{% for error in donor_form.confirm_password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div>
						<div class="group">
							{{ donor_form.phone_number.label }}
							{{ donor_form.phone_number(size=20) }}
							{% for error in donor_form.phone_number.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ donor_form.full_name.label }}
							{{ donor_form.full_name(size=20) }}
							{% for error in donor_form.full_name.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div class="age">
						<div class="group">
							{{ donor_form.age.label }}
							{{ donor_form.age(size=20) }}
							{% for error in donor_form.age.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div class="selects">
						<div class="group">
							{{ donor_form.gender.label }}
							{{ donor_form.gender(size=20) }}
							{% for error in donor_form.gender.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ donor_form.blood_category.label }}
							{{ donor_form.blood_category(size=20) }}
							{% for error in donor_form.blood_category.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<button class="submit" type="submit">Register as Donor <i class="bi bi-arrow-right-circle"></i></button>
				</form>

				<!-- Register as Transfusion Center -->
        <form class="register_form" id="tc-register-form" method="POST" style="display: none;">
					{{ tc_form.hidden_tag() }} <!-- Include CSRF token -->
					<div>
						<div class="group">
							{{ tc_form.name.label }}
							{{ tc_form.name(size=20) }}
							{% for error in tc_form.name.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ tc_form.email.label }}
							{{ tc_form.email(size=20) }}
							{% for error in tc_form.email.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div>
						<div class="group">
							{{ tc_form.password.label }}
							{{ tc_form.password(size=20) }}
							{% for error in tc_form.password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ tc_form.confirm_password.label }}
							{{ tc_form.confirm_password(size=20) }}
							{% for error in tc_form.confirm_password.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div>
						<div class="group">
							{{ tc_form.phone_number.label }}
							{{ tc_form.phone_number(size=20) }}
							{% for error in tc_form.phone_number.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ tc_form.map_coordinates.label }}
							{{ tc_form.map_coordinates(size=20) }}
							{% for error in tc_form.map_coordinates.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<div class="selects">
						<div class="group">
							{{ tc_form.country.label }}
							{{ tc_form.country() }}
							{% for error in tc_form.country.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
						<div class="group">
							{{ tc_form.city.label }}
							{{ tc_form.city() }}
							{% for error in tc_form.city.errors %}
							<span style="color: red;">{{ error }}</span>
							{% endfor %}
						</div>
					</div>

					<button class="submit" type="submit">Register as Transfusion Center <i class="bi bi-arrow-right-circle"></i></button>
				</form>
			</div>
		</div>
</main>

<!-- Why Donate Blood -->
<section class="why_donate" id="donate">
	<h2 class="title">Why Donate Blood?</h2>
	<p class="text">
	Blood donation is a noble cause that helps save lives.
	</br>
	Your contribution can make a significant impact on	those in need.
	</p>
</section>
{% endblock main %}
{% block script %}
<script>
    document.querySelectorAll('input[name="register-form"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            document.querySelectorAll('.register_form').forEach(function(form) {
                form.style.display = 'none';
            });
            document.getElementById(this.value + '-register-form').style.display = 'flex';
        });
    });
</script>
{% endblock script %}
