{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="../static/styles/update_center.css">
{% endblock style %}

{% block main %}
<main>
	<a href="{{ url_for('center_dashboard') }}" class="back bi bi-arrow-left-circle"></a>
	<h1 class="title">Update Informations :</h1>

	<!-- Render flashed messages -->
	<div class="flash">
		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
			{{ message }}
		</div>
		{% endfor  %}
		{% endif %}
		{% endwith %}
	</div>

	<!-- Update infos form -->
	<div class="container">
		<form method="POST">
			{{ update_infos.hidden_tag() }} <!-- Include CSRF token -->
			<legend>General infos :</legend>

			<div>
				{{ update_infos.name.label() }}
				{{ update_infos.name(value=center.name) }}
				{% for error in update_infos.name.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ update_infos.email.label() }}
				{{ update_infos.email(value=center.email) }}
				{% for error in update_infos.email.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ update_infos.phone_number.label() }}
				{% if center.phone_number %}
				{{ update_infos.phone_number(value=center.phone_number) }}
				{% else %}
				{{ update_infos.phone_number(placeholder='(optional)') }}
				{% endif %}
				{% for error in update_infos.phone_number.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ update_infos.map_coordinates.label() }}
				{% if center.map_coordinates %}
				{{ update_infos.map_coordinates(value=center.map_coordinates) }}
				{% else %}
				{{ update_infos.map_coordinates(placeholder='(optional, e.g: Google Maps link)') }}
				{% endif %}
				{% for error in update_infos.map_coordinates.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ update_infos.country.label() }}
				<select name="country" id="country">
					{% for value, label in update_infos.country.choices %}
					{% if value == current_country.id %}
					<option value="{{ value }}" selected>{{ label }}</option>
					{% else %}
					<option value="{{ value }}">{{ label }}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% for error in update_infos.country.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ update_infos.city.label() }}
				<select name="city" id="city">
					{% for value, label in update_infos.city.choices %}
					{% if value == current_city.id %}
					<option value="{{ value }}" selected>{{ label }}</option>
					{% else %}
					<option value="{{ value }}">{{ label }}</option>
					{% endif %}
					{% endfor %}
				</select>
				{% for error in update_infos.city.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div class="submit">
				{{ update_infos.submit() }}
			</div>

		</form>

		<hr>

		<form method="POST">
			{{ change_pwd.hidden_tag() }} <!-- Include CSRF token -->
			<legend>Change Password :</legend>

			<div>
				{{ change_pwd.actual_password.label() }}
				{{ change_pwd.actual_password() }}
				{% for error in change_pwd.actual_password.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ change_pwd.new_password.label() }}
				{{ change_pwd.new_password() }}
				{% for error in change_pwd.new_password.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div>
				{{ change_pwd.confirm_password.label() }}
				{{ change_pwd.confirm_password() }}
				{% for error in change_pwd.confirm_password.errors %}
				<div class="error">{{ error }}</div>
				{% endfor %}
			</div>

			<div class="submit">
				{{ change_pwd.submit() }}
			</div>

		</form>
	</div>
</main>
{% endblock main %}
