main {
	font-family: Arial, sans-serif;
	background-color: #ffffff;
	color: #000000;
	display: flex;
	margin: 20px;
}

/* Transfusion Center Informations */

.sidebar {
	background-color: #f8f9fa;
	padding: 20px;
	width: 250px;
	border-right: 1px solid #e9ecef;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-heading {
	font-size: 24px;
	color: #333333;
	margin-bottom: 20px;
}

.profile-info-list {
	padding: 0;
}

.profile-info-item {
	margin-bottom: 10px;
	font-size: 16px;
	color: #555555;
}
