/* header style */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 75px;
    width: 100%;
    padding: 20px 120px;
    margin: 0;
    background-color: var(--primary-bg);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 50px; /* Adjust the width of your logo as needed */
    margin-right: 10px; /* Adjust the spacing between the logo and the link */
}

.logo {
    font-size: 2rem;
    color: var(--primary-clr);
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 1rem;


    .header_btn {
        padding: .2rem;
        background-color: var(--primary-clr);
        color: var(--secondary-clr);
        border: 2px solid var(--tertiary-clr);
        border-radius: .375rem;
        width: 10dvw;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 500ms ease;
    }

    .header_btn:hover {
        scale: 1.1;
        transition: all 200ms ease;
    }
}
