:root {
    --primary-clr: darkred;
    --secondary-clr: white;
    --tertiary-clr: crimson;

    --primary-bg: #323946;
    --secondary-bg: rgb(230, 230, 230);
    --tertiary-bg: rgb(22, 22, 22);

    --main-bg: linear-gradient(to right, var(--primary-clr), var(--tertiary-bg));

    --ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
    * {
        body {
            background: var(--main-bg);
            color: var(--secondary-clr);
            font-family: var(--ff);

            margin-block-start: 4.375rem;
        }
    }

}

/* ====================================
                TYPOGRAPHY
=======================================*/

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-clr);
}

.subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-clr);
}

.text {
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-clr);
}

.alt-text {
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary-clr);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-clr);
}

/* ====================================
            CUSTOM SCROLLBAR
=======================================*/

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tertiary-clr);
    border-radius: 3.125rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-clr);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track-piece {
    background-color: var(--tertiary-bg);
}

/* ====================================
                HEADER
=======================================*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 50px;
    padding: 20px 120px;

    /* height: 6.25rem;
     */

    background-color: var(--primary-bg);
    filter: blur(50%);
}

.logo {
    font-size: 2rem;
    color: var(--primary-clr);
    font-weight: 700;
}

.menu {
    display: flex;
    gap: 1rem;


    .menu_item {
        color: var(--primary-clr);
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 200ms ease linear;
    }

    .menu_item:hover {
        transform: translateY(-5px);
        color: var(--secondary-clr);
        text-shadow: 0 0 10px var(--primary-clr);
        transition: all 200ms ease;
    }

    .menu_item.active {
        color: var(--secondary-clr);
        text-shadow: 0 0px 10px var(--tertiary-bg);
    }
}

.login_btn {
    padding: .2rem;
    border: 2px solid var(--tertiary-clr);
    border-radius: .375rem;
    background-color: var(--primary-clr);
    width: 10dvw;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--secondary-clr);

    cursor: pointer;
    transition: all 500ms ease;
}

.login_btn:hover {
    scale: 1.1;
    transition: all 200ms ease;
}

.toggle_btn {
    display: none;
}

/* ====================================
            ALL SECTIONS
=======================================*/

section {
    /* min-height: 100dvh; */
    display: flex;
    align-items: center;
    padding-inline: 3.125rem;
}

section:nth-child(odd) {
    background: var(--primary-bg);
}


/* ====================================
            HERO SECTION
=======================================*/

.hero {
    display: flex;
    padding-inline: 2rem;
    gap: 3rem;
    height: 100dvh;
    width: 100%;
    position: relative;

    .hero_image,
    .hero_content {
        width: 50%;
        flex: 6;
    }
}

.hero_content {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .title,
    .subtitle {
        color: var(--secondary-clr);
    }

    .title {
        font-size: 5rem;
    }

    .title::first-letter,
    span {
        color: var(--tertiary-clr);
        text-shadow: 2px 2px 2px var(--secondary-clr);
    }
}

.donation_form {
    display: flex;
    flex-direction: column;
    width: clamp(50dvw, 500px, 70dvw);
    gap: .5rem;

    .full_name,
    .email,
    .phone_number,
    .blood_type {
        border-radius: .375rem;
        padding: .75rem;
        border: 1px solid var(--tertiary-clr);
        background: var(--tertiary-bg);

        font-size: 1.2rem;
        color: var(--secondary-clr);
    }

    .blood_type>option {
        text-align: center;
        width: 25dvw;
    }

    .submit_form {
        border-radius: .375rem;
        padding: .75rem;
        border: 2px solid var(--tertiary-clr);
        background: var(--primary-color);
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--secondary-clr);
        transition: all 500ms ease;
    }

    .submit_form:hover {
        box-shadow: 0 0 10px var(--secondary-bg);
        scale: 1.1;
        transition: all 200ms ease;
    }
}

.hero_image {
    display: flex;
    flex-direction: column;
    flex: 6;

    >img {
        height: 16rem;
        width: 24rem;
        object-fit: cover;
        border-radius: .75rem;
        position: absolute;
    }

    >img:nth-child(1) {
        top: 3rem;
        right: 3rem;
        z-index: 10;
    }

    >img:nth-child(2) {
        top: 12rem;
        right: clamp(13rem, 20rem);
        z-index: 9;
    }

    >img:nth-child(3) {
        /* top: 14rem; */
        right: 3rem;
    }
}














/* ====================================
            RESPONSIVE DESIGN
=======================================*/

@media screen and (max-width: 992px) {

    /* header */

    .menu,
    .login_btn {
        display: none;
    }

    header {
        padding: 20px;
        display: flex;

        align-items: center;
        gap: .75rem;

    }

    .toggle_btn {
        display: inherit;
        font-size: 1.5rem;
        cursor: pointer;
        padding: .25rem;
        border-radius: 5px;
        color: var(--tertiary-clr);
    }

    header.responsive {
        height: 50dvh;
        flex-direction: column;
    }

    .responsive {
        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
        }

        .login_btn {
            display: block;
            width: 20dvw;
        }

        .toggle_btn {
            position: absolute;
            top: 20.5rem;
            right: 1.25rem;
            font-size: 1.5rem;
            cursor: pointer;
            padding: .25rem;
            border-radius: 5px;
            color: var(--tertiary-clr);
        }
    }

    /* ===== hero ===== */
    .hero {
        flex-direction: column;
        overflow-x: hidden;
    }

    .hero_content{
        justify-content: center;
    }

    .hero_image{
        gap: .5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero_image>img {
        position: initial;
        /* top: auto;
        right: auto; */

        width: 50dvw;
        height: 50%;
    }





}


@media screen and (max-width: 440px){

    .hero{
        min-height: 100dvh !important;
        overflow-y: hidden;
        align-items: center;
    }

    .hero_content{
        justify-content: center;
    }

    .hero_image{
        display: none;
        visibility: hiddens;
        /* flex-direction: column !important;
        align-items: center;
        justify-content: center; */
    }

    
}